<article class="single {{post_class}}">

    {{#match @page.show_title_and_feature_image}}
        <header class="single-header gh-canvas">
            {{#is "post"}}
            <div class="single-meta">
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                    </time>
                </span>
            </div>
            {{/is}}

            <h1 class="single-title">{{title}}</h1>
            {{!-- Authors only for pieces --}}
            {{^has tag="issue"}}
                <h2 class="single-header fancy">
                    {{#has tag="fiction"}}
                        <small>fiction by</small>
                    {{else}}
                        <small>by</small>
                    {{/has}}
                    {{#foreach authors}}
                        {{#if @last}}
                        <a class="author-name" href="{{url}}">{{name}}</a>
                        {{else}}
                        <a class="author-name" href="{{url}}">{{name}}</a> <small>and</small>
                        {{/if}}
                    {{/foreach}}
                </h2>
            {{/has}}

            {{#if custom_excerpt}}
                <div class="single-excerpt">
                    {{custom_excerpt}}
                </div>
            {{/if}}

        </header>
    {{/match}}

    <div class="single-content gh-content gh-canvas">
        {{content}}
    </div>

    {{#is "post"}}
    <div class="gh-canvas">
    <footer class="single-footer">

        <div class="single-footer-middle">
        {{!-- Contribution box only for pieces --}}
        {{^has tag="issue"}}
            <div class="single-footer-top">
                <h3 class="single-footer-title fancy">A contribution <small>by</small></h3>
                <div class="author-list">
                    {{#foreach authors}}
                    <a class="author-name" href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </div>
            </div>
        {{/has}}
        </div>

    </footer>
    </div>
    {{/is}}

</article>