<article class="feed {{visibility}} {{post_class}}">

    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>

    <h2 class="feed-title">{{title}}</h2>
    {{!-- {{#has tag="issues"}} --}}
    <div class="feed-right">
        <span class="feed-length">
            {{slug}}
        </span>
    </div>
    {{!-- {{/has}} --}}

    {{> "icons/chevron-right"}}

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>