{{#get "posts" filter="tags:-issues+tags:-#empty" limit="4" as |featured|}}
{{#if featured}}
    <div class="gh-outer">
    <section class="featured-wrapper gh-inner">

        <div class="featured-grid">
        {{#foreach featured}}
            <article class="{{post_class}}">
                <a class="u-placeholder horizontal block" href={{url}} aria-label="{{title}}">
                    {{#if feature_image}}
                        <img
                            class="u-object-fit"
                            srcset="{{> srcset}}"
                            sizes="(min-width: 992px) calc((92vw - 60px) / 3), (min-width: 768px) calc((92vw - 30px) / 2), 92vw"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                        >
                    {{/if}}
                </a>
                <h3 class="post-title">{{title}}</h3>
            </article>
        {{/foreach}}
        </div>

    </section>
    </div>
{{/if}}
{{/get}}